body {
    width: 400px;
    height: 300px;
    background-color: #fff1aa;
    bottom: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#newNoteForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.newNoteBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    font-size: 2em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.listItem {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.listItem h2, div {
    margin:1%;
}

.note {
    width:98%;
    text-align: justify;
}

.timestamp {
    color: #00000070;
    font-size: smaller;
}

#tags {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-left: 0px;
}

.tagLabel {
    margin-right: 15px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3px;
}

#tags input {
    margin-left: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin:0px;
}

.archiveNote {
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
    fill: black
}

#submit {
    width: 200px;
    padding: 12.5px 30px;
    border: 0;
    background-color: #fb8f2b;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-bottom: 10px;
  }
  
  #submit:hover {
    background-color: #fb8f2b;
    box-shadow: 0 0 20px #ffb56f50;
    transform: scale(1.1);
  }
  
  #submit:active {
    background-color: #fb8f2b;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }


#title {
    width:50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    padding: 5px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}

#title:focus, #note:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#note {
    width:80%;
    height:200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.tagDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#noNotes {
    width: 100%;
}

#noNotes p {
    text-align: center;
    font-style: italic;
    color: #00000050;
    font-size: large;
}